{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
        <div class="text-content">
            <h1 class="mt-4">Why you should buy local:</h1>
            <br>
            <br>
            <p class="para1">Buying local food is important because it supports local farmers and strengthens the local economy. It reduces the carbon footprint by minimizing transportation and packaging, leading to a more sustainable food system. Local food is often fresher and more nutrient-rich, as it doesn’t spend time in transit or sitting on shelves. Additionally, purchasing locally grown produce fosters community connections and promotes food security, as it helps diversify the local food supply. Supporting local food systems is a key step toward building a healthier and more resilient future.</p>
            <br>
            <br>
            <br>
            <p class="para2">If you are interested in finding out more, <a href="https://www.facebook.com/groups/1191058291613841">visit our facebook page!</a></p>
    </div>
{% endblock %}